<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Detail page</title>
    <link rel="stylesheet" th:href="@{/css/productDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <!-- <link rel="stylesheet" href="../Sidebar/sidebar.css"> -->

    <!-- Icons link -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!-- <script defer src="Header.js"></script> -->
</head>

<body>
<footer th:replace="fragments/header :: header"></footer>

<main>
    <div class="container">
        <section class="product-info">
            <div class="row">
                <div class="form-group row col-md-5">
                    <div><img id="product-detail-img" class="product-detail-img" th:data-product-id="${product.id}" th:data-file-name="${product.productImg}" alt="" width="450px" height="450px"></div>
                </div>

                <div class="form-group row col-md-7">

                    <div class="col-md-9">
                        <div class="product-name" style="font-size: 20px;" th:text="${product.name}"></div>
                    </div>

                    <div class="col-md-9">
                        <div class="product-price" style="font-size: 30px; color: orangered;" th:text="'&#36;' +${product.price}"></div>
                    </div>

                    <div class="col-md-9" sec:authorize="hasRole('CUSTOMER')">
                        <input type="number" id="product-quantity" value="1" min="1" max="999" class="product-quantity">
                    </div>

                    <div class="col-md-9" sec:authorize="hasRole('CUSTOMER')">
                        <div class="product-btn">
                            <div class="add-cart-btn">
                                <i class='bx bx-cart-add'></i>
                                <a class="cart" href="javascript:void(0);" th:onclick="|addProductToCart(${product.id});|">Add To Cart</a>
                            </div>
                            <div class="buy-btn">
                                <a href="" class="buy">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Shop info -->
        <section class="product-shop">
            <div class="shop-info">
                <div class="shop-img">
                    <img id="avatar-product-detail" th:data-user-id="${product.user.id}" th:data-file-name="${product.user.avatar}" alt="" width="78px" height="78px">
                </div>
                <div class="">
                    <div class="shop-name" th:text="${product.user.fullName}"></div>
                    <div class="btn">
                        <div class="chat-btn" sec:authorize="hasRole('CUSTOMER')">
                            <i class='bx bx-message-minus'></i>
                            <a href="#">Chat</a>
                        </div>
                        <div class="see-shop-btn">
                            <i class='bx bxs-store'></i>
                            <a th:href="@{/shop(id=${product.user.id}) }">See Shop</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="description">
            <div class="description-content">
                <h4 class="description-title">Product Description</h4>
                <div class="content">
                    <p th:text="${product.description}">

                    </p>
                </div>
            </div>

        </section>

        <!-- feedback -->
        <section class="product-feedback">
            <div class="feedback-content">
                <h4 class="feedback-title">Product Feedbacks</h4>

                <div class="feedback-info">
                    <div class="cus-info">
                        <div class="cus-avatar">
                            <img src="https://down-vn.img.susercontent.com/file/4fb4ec01b4d61e8b9a8f2b847a95c613_tn" width="40px" height="40px" alt="">
                        </div>

                        <div class="content">
                            <div class="date-time">
                                2024-05-20
                            </div>
                            <div class="product-quality">
                                Ok,đủ hàng, sản phẩm như hình cho shop 5 sao. Chất lượng thì chờ thơi gian nữa mới biết được
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <!-- row2 -->
                <div class="feedback-info">
                    <div class="cus-info">
                        <div class="cus-avatar">
                            <img src="https://down-vn.img.susercontent.com/file/4fb4ec01b4d61e8b9a8f2b847a95c613_tn" width="40px" height="40px" alt="">
                        </div>

                        <div class="content">
                            <div class="date-time">
                                2024-05-20
                            </div>
                            <div class="product-quality">
                                Ok,đủ hàng, sản phẩm như hình cho shop 5 sao. Chất lượng thì chờ thơi gian nữa mới biết được
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <!-- row3 -->
                <div class="feedback-info">
                    <div class="cus-info">
                        <div class="cus-avatar">
                            <img src="https://down-vn.img.susercontent.com/file/4fb4ec01b4d61e8b9a8f2b847a95c613_tn" width="40px" height="40px" alt="">
                        </div>

                        <div class="content">
                            <div class="date-time">
                                2024-05-20
                            </div>
                            <div class="product-quality">
                                Ok,đủ hàng, sản phẩm như hình cho shop 5 sao. Chất lượng thì chờ thơi gian nữa mới biết được
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>


            </div>
        </section>
    </div>

</main>
<footer th:replace="fragments/footer :: footer"></footer>
<!--Sweetalert library-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--Cart management-->
<script src="/js/fetchManageCart.js"></script>
<!--Image (Product and Avatar)-->
<script src="/js/getErrorImage.js"></script>
<script src="/js/fetchImageToView.js"></script>
<!--Header and Navbar-->
<script src="/js/fetchCategoryInNavbar.js"></script>
<script src="/js/scrollHeader.js"></script>
<script src="/js/showMenu.js"></script>
<script src="/js/submenu.js"></script>
<script src="/js/getCsrfToken.js"></script>
</body>

</html>