@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    /*width: 100%;*/
    margin: auto;
}

header {

}

main{
    background-color: #f4f4f4;
    color: rgb(32, 32, 31);

}

main .container{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.page-title{
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.admin-navbar {
    margin: 1rem 0;
}

.tabs {
    list-style: none;
    padding: 0;
    display: flex;
}

.tabs .tab-link {
    flex: 1;
    padding: 1rem;
    text-align: center;
    background-color: #f4f4f4;
    cursor: pointer;
}

.tabs .tab-link.active {
    background-color: #ddd;
}


.tab-content {
    display: none;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tab-content.active {
    display: block;
    opacity: 1;
}



/*Orders*/
#orders-management .order-management .header-management .title {
    font-weight: 600;
    text-align: left;
    color: #415a80;
    text-transform: uppercase;
}

#orders-management .horizontal-line {
    margin-top: 10px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0.25rem;
    background-color: #415a80;
    transition: opacity 0.3s ease 0s;
}

#orderManagement tr td a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(32, 32, 31);
}



/*Account*/
#account-management .account-management .header-management .title {
    font-weight: 600;
    text-align: left;
    color: #415a80;
    text-transform: uppercase;
}

#account-management .account-management .horizontal-line {
    margin-top: 10px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0.25rem;
    background-color: #415a80;
    transition: opacity 0.3s ease 0s;
}


/*Category*/
#categories-management .category-management .header-management .title {
    font-weight: 600;
    text-align: left;
    color: #415a80;
    text-transform: uppercase;
}

#categories-management .category-management .horizontal-line {
    margin-top: 10px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0.25rem;
    background-color: #415a80;
    transition: opacity 0.3s ease 0s;
}


/*Table*/
table {
    font-weight: 200;
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}


th, td {
    width: 16.66%;
    /* 100% chia cho 6 cột */
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
    border: none;
    /* Đảm bảo rằng nội dung sẽ được ngắt dòng */
}

.orderTable th:first-child, td:first-child {
    width: 5%; /* Chiều rộng cho cột đầu tiên */
}

.orderTable th:nth-child(2), td:nth-child(2) {
    width: 10%; /* Chiều rộng cho cột đầu tiên */
}

.orderTable th:nth-child(3), td:nth-child(3) {
    width: 10%; /* Chiều rộng cho cột đầu tiên */
}

.orderTable th:nth-child(4), td:nth-child(4) {
    width: 6%; /* Chiều rộng cho cột đầu tiên */
}
.orderTable th:nth-child(5), td:nth-child(5) {
    width: 7%; /* Chiều rộng cho cột đầu tiên */
}
.orderTable th:nth-child(6), td:nth-child(6) {
    width: 49%; /* Chiều rộng cho cột đầu tiên */
}
.orderTable th:nth-child(7), td:nth-child(7) {
    width: 6%; /* Chiều rộng cho cột đầu tiên */
}

.orderTable th:last-child, td:last-child {
    width: 7%; /* Chiều rộng cho cột đầu tiên */
}

.orderTable thead {
    font-weight: 400;

}
.orderTable tbody tr{
    border-bottom: 1px solid #262626;
}

.productDetail tbody tr{
    border-bottom: 1px solid #ddd;
}



/*Statistic*/
#statistics-management .statistic-management .header-management .title {
    font-weight: 600;
    text-align: left;
    color: #415a80;
    text-transform: uppercase;
}

#statistics-management .statistic-management .horizontal-line {
    margin-top: 10px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0.25rem;
    background-color: #415a80;
    transition: opacity 0.3s ease 0s;
}


.statistics-navbar {
    margin: 1rem 0;
}

.statistics-navbar .tabs {
    list-style: none;
    padding: 0;
    display: flex;
}

.statistics-navbar .tabs .statistic-tab-link {
    flex: 1;
    padding: 1rem;
    text-align: center;
    background-color: #f4f4f4;
    cursor: pointer;
}

.statistics-navbar .tabs .statistic-tab-link.active {
    background-color: #ddd;
}


.statistic-tab-content {
    display: none;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.statistic-tab-content.active {
    display: block;
    opacity: 1;
}


@media screen and (max-width: 768px) {
    th, td {
        padding: 12px 8px; /* Tăng khoảng đệm cho các thiết bị nhỏ */
    }

    button{
        scale: 0.75;
        margin-left: -10px;
        width: 90px;
    }
}

@media screen and (max-width: 480px) {
    th, td {
        padding: 12px 8px; /* Tăng khoảng đệm cho các thiết bị nhỏ */

    }
    th {
        display: none; /* Ẩn các tiêu đề cột trên thiết bị nhỏ */
    }
    .table-container {
        overflow-x: scroll; /* Thêm thanh cuộn ngang */
    }
}