@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
h1{
    text-align: center;
}

.address {
    align-items: center;
    background: #fff;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    display: flex;
    font-size: 16px;
    font-weight: 300;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    /* padding:20px 20px; */
    /* margin-bottom: 12px; */
    overflow: hidden;
}

.position {
    /* color: #ff445c; */
}

.current-address{
    display: flex;
    flex-wrap: wrap;
}

.current-address div{
    margin-right: 15px;
}

.address-change {
    margin-left: 16px;
}

.address-change a {
    text-decoration: none;
}

.title {
    align-items: center;
    background: #fff;
    border-radius: .125rem;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    color: #888;
    display: flex;
    font-size: 16px;
    height: 55px;
    margin-bottom: 12px;
    overflow: hidden;
}

.title-price {
    margin-left: 15px;
}

.title-quantity {}

.title-total {
    margin-left: 16px;
}

section {
    unicode-bidi: isolate;
    background: #fff;
    border-radius: .125rem;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05); */
    overflow: hidden;
    overflow: visible;
    margin-bottom: 1rem;
}

.row .shop-product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.shop {
    margin-top: 20px;
    margin-bottom: 30px;
}

.seller-name {
    color: black;
    text-decoration: none;
}

.seller-name:hover {
    color: #ff445c;
}

.product {
    margin-bottom: 35px;
}

.product-img {}

/*Voucher*/
section .voucher{
    align-items: center;
    align-content: center;
    font-weight: 400;
    font-size: 17px;
    /*border-bottom: 1px solid rgba(0, 0, 0, .09);*/
    box-sizing: border-box;
    /*height: 3.75rem;*/
    padding-top: 10px;
    padding-left: 20px;/*Top, left*/
    margin-bottom: 10px;
}

section .voucher .voucher-option-btn{
    margin-right: -20px;
}

section .voucher .voucher-option-btn a{
    text-decoration: none;
    font-weight: 300;
}


/* Payment */
section .payment-methods {
    align-items: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    box-sizing: border-box;
    height: 3.75rem;
    padding: 0 20px;
    padding-top: 20px;
}

.payment-change {
    margin-left: 10px;
}

.payment-change a {
    text-decoration: none;
    font-weight: 300;
}

.payment-info {
    font-size: 15px;
    height: 100px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin: 20px;
}

.payment-info .col-md-6 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-info .col-md-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.payment-total {
    font-size: 25px;
    color: orangered;
}

.payment-btn {
    height: 130px;
}

.btn-checkout {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 33px;
    padding-right: 1140px;
    /* padding-right: 50px; */


}

.btn-checkout button {
    height: 50px;
    width: 150px;
    border-radius: 2px;
    background-color: #ff445c;
}

.btn-checkout button a {
    text-decoration: none;
    color: white;
}

.btn-checkout button a:hover {
    color: #f68190;
}

.bill-modal {
    font-weight: 400;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transition: opacity 0.5s ease;
}

/* Show Modal */
.bill-modal.show {
    display: block;
    opacity: 1; /* Hiển thị modal với độ mờ 1 */
}

/* Modal Content */
.bill-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 700px;
    transform: translateY(-20px); /* Di chuyển modal lên trên một chút */
    transition: transform 0.3s ease;
}

/* Slide in Effect */
.bill-modal.show .bill-modal-content {
    transform: translateY(0); /* Đưa modal về vị trí bình thường */
}

.bill-modal-content.form-btn{
    margin-top: 20px;
}

.bill-modal-content .form-btn button{
    font-weight: 300;
    margin-right: 13px;
    width: 130px;
    border: 1px solid #808080;
    background-color: #fff;
    border-radius: 2px;
    color: rgb(110, 107, 107);
}

/*.modal-content .form-btn a{*/
/*    font-weight: 300;*/
/*    margin-right: 13px;*/
/*    width: 130px;*/
/*    height: 28px;*/
/*    border: 1px solid #808080;*/
/*    background-color: #fff;*/
/*    border-radius: 2px;*/
/*    color: rgb(110, 107, 107);*/
/*    text-decoration: none;*/
/*    text-align: center;*/
/*}*/
/*.modal-content .form-btn .btn-view{*/
/*    margin-top: -5px;*/
/*    width: 160px;*/
/*}*/

.bill-modal-content.form-btn button:hover{
    background-color: rgb(248, 240, 230);
}


/**********************************************/
.address-modal {
    font-weight: 400;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transition: opacity 0.5s ease;
}

/* Show Modal */
.address-modal.show {
    display: block;
    opacity: 1; /* Hiển thị modal với độ mờ 1 */
}

/* Modal Content */
.address-modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 700px;
    transform: translateY(-20px); /* Di chuyển modal lên trên một chút */
    transition: transform 0.3s ease;
}

/* Giới hạn chiều cao của phần chứa địa chỉ và thêm cuộn dọc */
.address-modal-content #address-change-form {
    max-height: 300px; /* Đặt chiều cao tối đa cho phần danh sách địa chỉ */
    overflow-y: auto;  /* Thêm cuộn dọc khi danh sách địa chỉ vượt quá chiều cao */
    padding: 5px; /* Tạo không gian cho thanh cuộn */
}

/* Tùy chỉnh thanh cuộn */
.address-modal-content #address-change-form::-webkit-scrollbar {
    width: 8px; /* Đặt độ rộng cho thanh cuộn */
}

.address-modal-content #address-change-form::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Màu của thanh cuộn */
    border-radius: 4px;     /* Bo tròn thanh cuộn */
}

.address-modal-content #address-change-form::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Màu của thanh cuộn khi hover */
}


.address-modal-content a{
    text-decoration: none;
    font-weight: 300;
    color: black;

}

.address-modal-content a .address-item{
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử con xuống dòng khi hết chiều rộng */
    border: 1px solid #808080;
    border-radius: 2px;
    /*margin-right: 50px;*/
    margin-bottom: 10px;
    padding: 5px;
}

.address-modal-content a .address-item div{
    margin-right: 15px;
    /*flex-basis: 150px;*/
}

.address-modal-content a .address-item:hover{
    border: 1px solid orangered;
}

.address-modal-content a .address-item:focus{
    outline: 1px solid orangered; /* Viền màu cam */
    outline-offset: 2px;

}

/* Slide in Effect */
.address-modal.show .address-modal-content {
    transform: translateY(0); /* Đưa modal về vị trí bình thường */
}

.address-modal-content .form-btn{
    margin-top: 20px;
}

.address-modal-content .form-btn button{
    font-weight: 300;
    margin-right: 13px;
    width: 90px;
    border: 1px solid #808080;
    background-color: #fff;
    border-radius: 2px;
    color: rgb(110, 107, 107);
}

.address-modal-content .form-btn button:hover{
    background-color: rgb(248, 240, 230);
}

/*************************Voucher*/

.voucher-modal {
    font-weight: 400;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transition: opacity 0.5s ease;
}

/* Show Modal */
.voucher-modal.show {
    display: block;
    opacity: 1; /* Hiển thị modal với độ mờ 1 */
}

/* Modal Content */
.voucher-modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 700px;
    transform: translateY(-20px); /* Di chuyển modal lên trên một chút */
    transition: transform 0.3s ease;
}

/* Giới hạn chiều cao của phần chứa địa chỉ và thêm cuộn dọc */
.voucher-modal-content #voucher-change-form {
    max-height: 300px; /* Đặt chiều cao tối đa cho phần danh sách địa chỉ */
    overflow-y: auto;  /* Thêm cuộn dọc khi danh sách địa chỉ vượt quá chiều cao */
    padding: 5px; /* Tạo không gian cho thanh cuộn */
}

/* Tùy chỉnh thanh cuộn */
.voucher-modal-content #voucher-change-form::-webkit-scrollbar {
    width: 8px; /* Đặt độ rộng cho thanh cuộn */
}

.voucher-modal-content #voucher-change-form::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Màu của thanh cuộn */
    border-radius: 4px;     /* Bo tròn thanh cuộn */
}

.voucher-modal-content #voucher-change-form::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Màu của thanh cuộn khi hover */
}

.voucher-modal-content a{
    text-decoration: none;
    font-weight: 300;
    color: black;

}

.voucher-modal-content a .voucher-item{
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử con xuống dòng khi hết chiều rộng */
    border: 1px solid #808080;
    border-radius: 2px;
    /*margin-right: 50px;*/
    margin-bottom: 10px;
    padding: 5px;
}

.voucher-modal-content a .voucher-item div{
    margin-right: 15px;
    /*flex-basis: 150px;*/
}

.voucher-modal-content a .voucher-item:hover{
    border: 1px solid orangered;
}

.voucher-modal-content a .voucher-item:focus{
    /*border: 1px solid orangered;*/
    outline: 2px solid orangered; /* Viền màu cam */
    outline-offset: 2px;

}

/* Slide in Effect */
.voucher-modal.show .voucher-modal-content {
    transform: translateY(0); /* Đưa modal về vị trí bình thường */
}

.voucher-modal-content .form-btn{
    margin-top: 20px;
}

.voucher-modal-content .form-btn button{
    font-weight: 300;
    margin-right: 13px;
    width: 90px;
    border: 1px solid #808080;
    background-color: #fff;
    border-radius: 2px;
    color: rgb(110, 107, 107);
}


.voucher-modal-content .form-btn button:hover{
    background-color: rgb(248, 240, 230);
}


/*************************Payment Method*/

.payment-modal {
    font-weight: 400;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transition: opacity 0.5s ease;

}

/* Show Modal */
.payment-modal.show {
    display: block;
    opacity: 1; /* Hiển thị modal với độ mờ 1 */
}

/* Modal Content */
.payment-modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    left: 0;
    top: 0;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    transform: translateY(-20px); /* Di chuyển modal lên trên một chút */
    transition: transform 0.3s ease;
}

/* Giới hạn chiều cao của phần chứa địa chỉ và thêm cuộn dọc */
.payment-modal-content #payment-change-form {
    max-height: 300px; /* Đặt chiều cao tối đa cho phần danh sách địa chỉ */
    overflow-y: auto;  /* Thêm cuộn dọc khi danh sách địa chỉ vượt quá chiều cao */
    padding: 5px; /* Tạo không gian cho thanh cuộn */
}

/* Tùy chỉnh thanh cuộn */
.payment-modal-content #payment-change-form::-webkit-scrollbar {
    width: 8px; /* Đặt độ rộng cho thanh cuộn */
}

.payment-modal-content #payment-change-form::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Màu của thanh cuộn */
    border-radius: 4px;     /* Bo tròn thanh cuộn */
}

.payment-modal-content #payment-change-form::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Màu của thanh cuộn khi hover */
}

.payment-modal-content a{
    text-decoration: none;
    font-weight: 300;
    color: black;

}

.payment-modal-content a .payment-item{
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử con xuống dòng khi hết chiều rộng */
    border: 1px solid #808080;
    border-radius: 2px;
    /*margin-right: 50px;*/
    margin-bottom: 10px;
    padding: 5px;
}

.payment-modal-content a .payment-item div{
    margin-right: 15px;
    /*flex-basis: 150px;*/
}

.payment-modal-content a .payment-item:hover{
    border: 1px solid orangered;
}

.payment-modal-content a .payment-item:focus{
    /*border: 1px solid orangered;*/
    outline: 2px solid orangered; /* Viền màu cam */
    outline-offset: 2px;

}

/* Slide in Effect */
.payment-modal.show .payment-modal-content {
    transform: translateY(0); /* Đưa modal về vị trí bình thường */
}

.payment-modal-content .form-btn{
    margin-top: 20px;
}

.payment-modal-content .form-btn button{
    font-weight: 300;
    margin-right: 13px;
    width: 90px;
    border: 1px solid #808080;
    background-color: #fff;
    border-radius: 2px;
    color: rgb(110, 107, 107);
}


.payment-modal-content .form-btn button:hover{
    background-color: rgb(248, 240, 230);
}

@media (max-width: 1000px) {
    .address {
        padding-top: 45px;
        padding-bottom: 50px;
        margin-bottom: 12px;
    }

    .address .current-address{
        /*margin-left: -70px;*/
    }

    .address-change{
        /*margin-top: 8px;*/
        margin-left: -50px;
    }

    /*/custom popup swal*/
    /*.custom-swal-popup-phoneNumber{*/
    /*    width: 50%;*/
    /*    margin-left: -1000px;*/
    /*}*/

    .title {
        display: none;
    }

    .shop {
        margin-bottom: 10px;
    }

    .product-img {
        margin-bottom: 5px;
    }

    /* .payment{
        margin-left: 1px;
        padding-left: -100px;
    } */

    .payment-methods .col-md-7 {
        display: none;
    }

    .btn-checkout {
        margin-left: 112px;
    }

    .bill-modal{
        margin-left: -415px;
    }

    .bill-modal-content {
        width: 370px;
    }

    .address-modal{
        margin-left: -415px;
    }

    .address-modal-content {
        width: 370px;
    }

    .voucher-modal{
        margin-left: -415px;
    }

    .voucher-modal-content{
        width: 370px;
    }

    .payment-modal{
        margin-left: -417px;
    }

    .payment-modal-content{
        width: 370px;
    }



}