@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

footer {
    /* font-family: 'Poppins', sans-serif; */
    background-color: #dfdcdd;
    color: #313030;
    padding: 20px;
}

footer .container{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    font-size: 17px;
    font-weight: bold;
    /* text-align: center; */
}

.col-md-3 {

    margin-right: auto;
}


.col-md-3 ul {
    list-style: none;

}

.col-md-3 ul li {
    margin: 10px;
    margin-left: -30px;
}

.col-md-3 ul li a{
    color: #3a3939;
    font-size: 15px;
    text-decoration: none;
}


.col-md-3 ul li a:hover {
    color: #ff445c;
}

/* .navbar {
  width: 100%;
  display: flex;
  align-items: start;
} */
