@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
h1{
    text-align: center;
}


.btn-back{
    margin-bottom: 15px;
    margin-left: 10px;
}

.btn-back a{
    margin-left: -10px;
    text-decoration: none;
}

.btn-back button{
    /* width: 100px; */
    font-weight: 300;
    border: 1px solid #808080;
    background-color: #fff;
    color: rgb(110, 107, 107);
    border-radius: 2px;
    text-align: center;
}
.btn-back button:hover{
    /* color: #ff445c; */
    background-color: rgb(248, 240, 230);
}


.orders-navbar {
    margin: 1rem 0;
}

.orders-navbar .tabs {
    list-style: none;
    padding: 0;
    display: flex;
}

.orders-navbar .tabs .order-tab-link {
    flex: 1;
    padding: 1rem;
    text-align: center;
    background-color: #f4f4f4;
    cursor: pointer;
}

.orders-navbar .tabs .order-tab-link.active {
    background-color: #ddd;
}


.order-tab-content {
    display: none;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.order-tab-content.active {
    display: block;
    opacity: 1;
}

.order-cover{
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);*/
    margin-bottom: 20px;
}

.order-cover a{
    text-decoration: none;
    color: black;
}


.order-infomation {
    align-items: center;
    background: #fff;
    border-radius: .125rem;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05); */
    display: flex;
    justify-content: right;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}


.order-infomation .order-code{
    font-weight: 400;
    margin-right: 25px;
}
.order-infomation .order-status{
    margin-left: 25px;
}


section {
    unicode-bidi: isolate;
    background: #fff;
    border-radius: .125rem;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05); */
    overflow: hidden;
    overflow: visible;
    /* margin-bottom: 1rem; */
    padding: 10px;
}

.shop-product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.shop {
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.seller-name {
    color: black;
    text-decoration: none;
}

.seller-name:hover {
    color: #ff445c;
}

.product {
    margin-top: -15px;
    margin-bottom: 5px;

}
.product .col-md-9{
    margin-top: -5px;
    /* margin-bottom: 5px; */
}

.btn-feedback{
    margin-bottom: 10px;
}

.btn-feedback a {
    font-weight: 200;
    color: rgb(110, 107, 107);
    text-decoration: none;

}
.btn-feedback a:hover {
    /*background-color: rgb(248, 240, 230);*/
    border-bottom: 1px solid orangered;
}


.product .product-total{
    margin-top: 15px;
    /* margin-bottom: 5px; */
}


/* Payment */
.payment-info {
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    box-sizing: border-box;
    height: 3.75rem;
    display: flex;
}


.payment-info .total-payment{
    justify-content: right;
    margin-left: 880px;
}

.payment-info .payment-title {
    /*border-right: 1px solid orangered;*/
    color: orangered; font-size: 20px; font-weight: 400;

}
.payment-info .payment-value {
    /*border-left: 1px solid orangered;*/
    color: orangered; font-size: 20px; font-weight: 400;
}
.payment-info .payment-title div{
    margin-bottom: 10px;
}
.payment-info .payment-value div{
    margin-bottom: 10px;
}


/***********************************/
.payment-btn{
    margin-right: 500px;
    display: flex;
}

.payment-btn a{
    /* height: 130px; */
    text-decoration: none;
    color: rgb(110, 107, 107);
}

.btn-repurchase {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*padding-top: 33px;*/
}
.btn-return-refund {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.btn-repurchase button {
    font-weight: 300;
    width: 110px;
    border: 1px solid darkgreen;
    border-radius: 2px;
    background-color: #ffffff;
    color: darkgreen;
    /* margin-left: -818px; */
    text-decoration: none;
    margin-right: 15px;
}
.btn-return-refund button {
    font-weight: 300;
    width: 170px;
    border: 1px solid #808080;
    border-radius: 2px;
    background-color: #ffffff;
    color: rgb(110, 107, 107);
    text-decoration: none;
    margin-right: 15px;
}

.btn-cancel button{
    font-weight: 300;
    width: 100px;
    border: 1px solid orangered;
    border-radius: 2px;
    background-color: #ffffff;
    color: orangered;
    text-decoration: none;
}

.btn-cancel button:hover {
    background-color: rgb(248, 240, 230);
}

.btn-return-refund button:hover {
    background-color: rgb(248, 240, 230);
}
.btn-repurchase button:hover {
    background-color: rgb(248, 240, 230);
}

.modal {
    font-weight: 400;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transition: opacity 0.5s ease;
}

.modal.show {
    display: block;
    opacity: 1; /* Hiển thị modal với độ mờ 1 */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    width: 100%;
    width: 600px;
    border-radius: 5px;
    transform: translateY(-20px); /* Di chuyển modal lên trên một chút */
    transition: transform 0.3s ease;
}

.modal.show .modal-content {
    transform: translateY(0); /* Đưa modal về vị trí bình thường */
}

.rating {
    display: flex;
    direction: row-reverse;
    justify-content: flex-start;
    font-size: 2rem;
    cursor: pointer;
}

.star {
    color: #ccc;
    transition: color 0.2s;
}

.star.selected {
    color: gold;
}



.modal-content .row .form-group textarea{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.modal-content .form-btn{
    margin-top: 10px;
}

.modal-content .form-btn button{
    font-weight: 300;
    /*margin-right: 13px;*/
    width: 120px;
    border: 1px solid #808080;
    background-color: #fff;
    border-radius: 2px;
    color: rgb(110, 107, 107);
}

.modal-content .form-btn .btn-done{
    /*margin-left: 90px;*/
}

.modal-content .form-btn button:hover{
    background-color: rgb(248, 240, 230);
}

@media (max-width: 1000px) {

    .orders-navbar .tabs .order-tab-link {
        padding: 0.5rem;
    }

    .address{
        border-right: #fff;
    }

    .status-detail{
        border-left: #fff;
    }

    .status-times{
        margin-left: 50px;
    }

    .status-titles{
        margin-left: -55px;
    }

    .product .col-md-9{
        margin-top: 0px;
        /* margin-bottom: 5px; */
    }

    .payment-info .payment-title{
        font-size: 17px;
        font-weight: 400;
        border-right: none;
    }
    .payment-info .payment-value{
        font-size: 17px;
        font-weight: 400;
        border-left: none;
    }

    .payment-info .row{
        margin-left: 0px;
    }


}