@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    background-color: #f4f4f4;
}

main {
    /* background-color: #fff; */
    background-color: #f4f4f4;
    color: rgb(32, 32, 31);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none;
}


.product-info{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin-top: .9375rem;
    overflow: hidden;
    padding: .625rem;
    align-items: center;
    overflow-x: visible;
    overflow-y: visible;
    padding-top: 25px !important;
    padding-right: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 25px !important;
}



.product-btn{
    display: flex;
    font-weight: 400;
}

.product-btn .add-cart-btn{
    padding-top: auto;
    width: 140px;
    border: 1px solid #808080; /* Màu viền xám */
    background-color: #fff;
    border-radius: 2px;
    margin-right: 15px;
    padding-top: 4px;
    padding-left: 5px;
}

.product-btn .buy-btn{
    padding-top: auto;
    width: 115px;
    border: 1px solid #808080; /* Màu viền xám */
    background-color: #fff;
    border-radius: 2px;
    padding-top: 4px;
}


.product-btn div a{
    color: rgb(110, 107, 107);
    position: relative;
    top: -5px;
}

.product-btn .add-cart-btn i{
    font-size: 25px ;
}

.product-btn .buy-btn a{
    position: relative;
    top: 1px;
    left: 20px;
}

.product-btn .add-cart-btn:hover{
    background-color: rgb(248, 240, 230);
}

.product-btn .buy-btn:hover{
    background-color: rgb(248, 240, 230);
}






/* shop */
.product-shop{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin-top: .9375rem;
    overflow: hidden;
    padding: .625rem;
    align-items: center;
    overflow-x: visible;
    overflow-y: visible;
    padding-top: 25px !important;
    padding-right: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 25px !important;
}

.shop-info{
    display: flex;
}

.shop-info .shop-img{
    padding-right: 20px;
}

.shop-info .shop-img img{
    border-radius: 50%;
}

.shop-info .shop-name{
    display: inline;
}

.shop-info .btn{
    display: flex;
    margin-top: 5px;
    margin-left: -12px;
    color: rgb(110, 107, 107);
}
.shop-info .btn .chat-btn{
    padding-top: auto;
    width: 90px;
    border: 1px solid #808080; /* Màu viền xám */
    background-color: #fff;
    border-radius: 2px;
    margin-right: 10px;
    padding-top: 5px;
}
.shop-info .btn .see-shop-btn{
    width: 110px;
    border: 1px solid #808080; /* Màu viền xám */
    background-color: #fff;
    border-radius: 2px;
    padding-top: 5px;
}

.shop-info .btn div a{
    color: rgb(110, 107, 107);
}

.shop-info .btn div i{
    font-size: 17px;
}

.shop-info .btn .chat-btn:hover{
    background-color: rgb(248, 240, 230);
}
.shop-info .btn .see-shop-btn:hover{
    background-color: rgb(248, 240, 230);
}


/* description content */
.description{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin-top: .9375rem;
    overflow: hidden;
    padding: .625rem;
    align-items: center;
    overflow-x: visible;
    overflow-y: visible;
    padding-top: 25px !important;
    padding-right: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 25px !important;
}


.description-content{
    width: 100%;
    height: auto;
    background-color: #fff;
    font-weight: 400;
    /* margin: 1.875rem .9375rem .9375rem; */
}

.description-content .description-title{
    background: rgba(0, 0, 0, .02);
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    font-size: 19px;
    margin: 0;
    padding: .875rem;
    text-transform: capitalize;
    border-radius: 2px;
}

.description-content .description-title h4{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.description-content .content {
    color: rgba(0, 0, 0, .8);
    font-size: 15px;
    line-height: 1.7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap; /* Giữ nguyên khoảng trắng và ngắt dòng */
    margin-top: -50px;
}

.description-content .content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-left: 0; /* Chỉnh lại dòng này */
    white-space: pre-line; /* Giữ nguyên khoảng trắng và ngắt dòng */
}


/* Feedbacks */
.product-feedback{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin-top: .9375rem;
    overflow: hidden;
    padding: .625rem;
    align-items: center;
    overflow-x: visible;
    overflow-y: visible;
    padding-top: 25px !important;
    padding-right: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 25px !important;
}

.feedback-content{
    width: 100%;
    height: auto;
    background-color: #fff;
    font-weight: 400;
}

.feedback-content .feedback-title{
    background: rgba(0, 0, 0, .02);
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    font-size: 19px;
    margin: 0;
    padding: .875rem;
    text-transform: capitalize;
    border-radius: 2px;
}

.feedback-content .feedback-title h4{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.feedback-content .feedback-info{
    color: rgba(0, 0, 0, .8);
    font-size: 15px;
    margin-top: 20px;
}

.feedback-content .feedback-info .cus-info{
    display: flex;
}

.feedback-content .feedback-info .cus-info .cus-avatar{
    margin-right: 15px;
}

.feedback-content .feedback-info .cus-info .cus-avatar img{
    border-radius: 50%;
}

.feedback-content .feedback-info .cus-info .content{
    line-height: 2.7;
}



@media (max-width: 1000px) {
    .form-group div img{
        width: 315px;
        height: 315px;
    }

    .product-btn{
        margin-top: 13px;
    }

    .shop-info .shop-name{
        width: 30px;
    }

    .shop-info .btn{
        margin-left: -12px;
    }

    .description-content .content {
        color: rgba(0, 0, 0, .8);
        font-size: 15px;
        line-height: 1.7;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        margin-top: -50px;
    }

    .description-content .content p {
        margin-left: 0;
        text-align: left;
    }


}