@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #f4f4f4;
}

main {
    /* background-color: #fff; */
    background-color: #f4f4f4;
    color: rgb(32, 32, 31);
    /*padding: 20px;*/
}

h2 {
    color: #415a80;
    text-align: center;
    margin-bottom: 20px;
}

/* Dashboard styles */
.seller-dashboard {
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.seller-dashboard-navbar {
    margin: 1rem 0;
}

.seller-dashboard-navbar .tabs {
    list-style: none;
    padding: 0;
    display: flex;
}

.seller-dashboard-navbar .tabs .seller-dashboard-tab-link {
    flex: 1;
    padding: 1rem;
    text-align: center;
    background-color: #f4f4f4;
    cursor: pointer;
}

.seller-dashboard-navbar .tabs .seller-dashboard-tab-link.active {
    background-color: #ddd;
}

.seller-dashboard-tab-content {
    display: none;
    padding: 1rem;
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.seller-dashboard-tab-content.active {
    display: block;
    opacity: 1;
}


/***************** Product Sold *********************/
.product-sold-table {
    width: 100%;
    border-collapse: collapse;
    font-weight: 300;
    font-size: 15px;
}

.product-sold-table .row{
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

.product-sold-table label{
    font-weight: 400;
    font-size: 16px;
}

.product-management-table {
    width: 100%;
    border-collapse: collapse;
    font-weight: 300;
    font-size: 15px;
}

.product-management-table .row{
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

.product-management-table label{
    font-weight: 400;
    font-size: 16px;
}

.product-management-table .title-total-product{
    margin-right: -7px;
}

.me-2.mb-2 {
    margin-bottom: 10px; /* Khoảng cách giữa các nút */
}


/*.product-management-table .btn-add-new{*/
/*    margin-left: -80px;*/
/*}*/

/*.product-management-table .btn-request-category{*/
/*    margin-left: -50px;*/
/*}*/





/***************** Modal *********************/
.addAndEditModal{
    font-weight: 400;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.addAndEditModal.show {
    display: block;
    opacity: 1; /* Hiển thị modal với độ mờ 1 */
}

.addAndEditModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    width: 80%;
    width: 700px;
    border-radius: 5px;
    transform: translateY(-20px); /* Di chuyển modal lên trên một chút */
    transition: transform 0.3s ease;
}

.addAndEditModal .show .modal-content {
    transform: translateY(0); /* Đưa modal về vị trí bình thường */
}

.addAndEditModal .modal-content .row .form-group input{
    width: 100%;
    margin-bottom: 10px;
}

.addAndEditModal .modal-content .row .form-group input{
    width: 100%;
    height: 75%;
    margin-bottom: 10px;
}

.addAndEditModal .modal-content .row .form-group select{
    width: 100%;
    height: 75%;
    margin-bottom: 10px;
}

.addAndEditModal .modal-content .form-btn{

    margin-top: 20px;
}

.addAndEditModal .modal-content .form-btn button{
    font-weight: 300;
    margin-right: 13px;
    width: 100px;
    border: 1px solid #808080;
    background-color: #fff;
    border-radius: 2px;
    color: rgb(110, 107, 107);
}

.addAndEditModal .modal-content .form-btn button:hover{
    background-color: rgb(248, 240, 230);;
}



/******************************/
.requestCategoryModal{
    font-weight: 400;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.requestCategoryModal.show {
    display: block;
    opacity: 1; /* Hiển thị modal với độ mờ 1 */
}

.requestCategoryModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    /*width: 80%;*/
    width: 400px;
    border-radius: 5px;
    transform: translateY(-20px); /* Di chuyển modal lên trên một chút */
    transition: transform 0.3s ease;
}

.requestCategoryModal .show .modal-content {
    transform: translateY(0); /* Đưa modal về vị trí bình thường */
}

.requestCategoryModal .modal-content .row .form-group input{
    width: 100%;
    margin-bottom: 10px;
}

.requestCategoryModal .modal-content .row .form-group input{
    width: 100%;
    height: 75%;
    margin-bottom: 10px;
}

.requestCategoryModal .modal-content .row .form-group select{
    width: 100%;
    height: 75%;
    margin-bottom: 10px;
}

.requestCategoryModal .modal-content .form-btn{

    margin-top: 20px;
}

.requestCategoryModal .modal-content .form-btn button{
    font-weight: 300;
    margin-right: 13px;
    width: 120px;
    border: 1px solid #808080;
    background-color: #fff;
    border-radius: 2px;
    color: rgb(110, 107, 107);
}

.requestCategoryModal .modal-content .form-btn button:hover{
    background-color: rgb(248, 240, 230);;
}


/*Loader*/

.requestCategoryModal .modal-content .loader {
    margin-top: -60px;
    margin-left: 170px;
    --dim: 1rem;
    width: var(--dim);
    height: var(--dim);
    position: absolute;
    animation: spin988 2s linear infinite;
}

.requestCategoryModal .modal-content .loader .circle {
    --color: #333;
    --dim: 0.3rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
}

.requestCategoryModal .modal-content .loader .circle:nth-child(1) {
    top: 0;
    left: 0;
}

.requestCategoryModal .modal-content .loader .circle:nth-child(2) {
    top: 0;
    right: 0;
}

.requestCategoryModal .modal-content .loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
}

.requestCategoryModal .modal-content .loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
}

@keyframes spin988 {
    0% {
        transform: scale(1) rotate(0);
    }

    20%, 25% {
        transform: scale(1.3) rotate(90deg);
    }

    45%, 50% {
        transform: scale(1) rotate(180deg);
    }

    70%, 75% {
        transform: scale(1.3) rotate(270deg);
    }

    95%, 100% {
        transform: scale(1) rotate(360deg);
    }
}

/* Responsive for mobile */
@media (max-width: 768px) {
    .seller-dashboard {
        width: 100%; /* Điều chỉnh chiều rộng cho thiết bị nhỏ */
        margin: 0; /* Xóa khoảng trống thừa */
    }

}