@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: #f4f4f4;
}

main {
    /* background-color: #fff; */
    background-color: #f4f4f4;
    color: rgb(32, 32, 31);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.title {
    font-weight: 600;
    text-align: center;
    color: #415a80;
    text-transform: uppercase;
}

.horizontal-line {
    margin-top: 10px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0.25rem;
    background-color: #415a80;
    transition: opacity 0.3s ease 0s;
}

.btn-nav{
    margin: 20px;
    /*padding-top: 80px;*/
}

.btn-nav a {
    color: #415a80;
}
.btn-nav a i {
    font-size: 26px;
}
.btn-nav a i:hover {
    color: #0056b3;
}

.btn-add{
    width: 80px;
    border: 1px solid #808080; /* Màu viền xám */
    background-color: #fff;
    border-radius: 2px;
    text-align: center;
    font-weight: 400;
    margin-top: 5px;
}
.btn-add a {
    color: rgb(110, 107, 107);
    text-align: center;
    text-decoration: none;
}
.btn-add a i {
    font-size: 26px;
    text-align: center;
}
.btn-add:hover {
    background-color: rgb(248, 240, 230);
}

td a {
    color: rgba(0, 0, 0, .54);
}
td a i{
    font-size: 26px;
}
td a:hover{
    color: #ff445c;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}


th, td {
    width: 16.66%;
    /* 100% chia cho 7 cột - vì cột đầu tiên sẽ chiếm 2 cột */
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
    border: none;
    /* Đảm bảo rằng nội dung sẽ được ngắt dòng */
}

th:first-child, td:first-child {
    width: 50%;
    /* Cột đầu tiên chiếm 2 phần của 7 phần */
}

th:last-child, td:last-child {
    width: 8.33%;
    /* Cột đầu tiên chiếm 2 phần của 7 phần */
}

thead {
    font-weight: 400;

}
tbody tr{
    border-bottom: 1px solid #ddd;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;

} */


.modal {
    font-weight: 400;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transition: opacity 0.5s ease;
}

.modal.show {
    display: block;
    opacity: 1; /* Hiển thị modal với độ mờ 1 */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    width: 80%;
    width: 700px;
    border-radius: 5px;
    transform: translateY(-20px); /* Di chuyển modal lên trên một chút */
    transition: transform 0.3s ease;
}

.modal.show .modal-content {
    transform: translateY(0); /* Đưa modal về vị trí bình thường */
}

.modal-content .row .form-group input{
    width: 100%;
    margin-bottom: 10px;
}

.modal-content .row .form-group input{
    width: 100%;
    height: 75%;
    margin-bottom: 10px;
}

.modal-content .row .form-group select{
    width: 100%;
    height: 75%;
    margin-bottom: 10px;
}

.modal-content .form-btn{

    margin-top: 20px;
}

.modal-content .form-btn button{
    font-weight: 300;
    margin-right: 13px;
    width: 100px;
    border: 1px solid #808080;
    background-color: #fff;
    border-radius: 2px;
    color: rgb(110, 107, 107);
}

.modal-content .form-btn button:hover{
    background-color: rgb(248, 240, 230);;
}

@media screen and (max-width: 768px) {
    th, td {
        padding: 12px 8px; /* Tăng khoảng đệm cho các thiết bị nhỏ */
    }

    button{
        scale: 0.75;
        margin-left: -10px;
        width: 90px;
    }
}

@media screen and (max-width: 480px) {
    th, td {
        padding: 12px 8px; /* Tăng khoảng đệm cho các thiết bị nhỏ */

    }
    th {
        display: none; /* Ẩn các tiêu đề cột trên thiết bị nhỏ */
    }
    .table-container {
        overflow-x: scroll; /* Thêm thanh cuộn ngang */
    }
}