<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" th:href="@{/images/SherlockBackgroundLogoBigSize.png}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <title>Sherlock Store | Buy and Sell</title>
    <link rel="stylesheet" th:href="@{/css/orderPage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <!-- Icons link -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
<header th:replace="fragments/header :: header"></header>

<main>
    <div class="container">
        <h1>Order Page</h1>

        <div class="row">
            <div class="order-infomation">
                <div class="btn-back">
                    <a th:href="@{/order/list}"><i class='bx bx-arrow-back'></i> Back</a>
                </div>
                <div class="order-code">
                    <span>Order ID: </span>
                    <span th:text="${order.id}"></span>
                </div>
                |
                <div style="color: orangered;" class="order-status">
                    <span>Status: </span>
                    <span th:text="${order.status}"></span>
                </div>
            </div>
        </div>

        <!-- Address section -->
        <div class="row">
            <h5>Payment Address</h5>
            <div class="col-md-5 address">
                <b><p th:text="${order.user.fullName}"></p></b>
                <!-- <br>   -->
                <p th:text="${order.address.phoneNumber}"></p>
                <!-- <br> -->
                <span th:text="${order.address.street}"></span>
                <!-- <br> -->
                <span th:text="${order.address.wardAndCommune}"></span>
                <!-- <br> -->
                <span th:text="${order.address.district}"></span>
                <!-- <br> -->
                <span th:text="${order.address.city}"></span>
                <!-- <br> -->
                <span th:text="${order.address.country}"></span>
            </div>
            <!-- <div class="col-md-1 separator"></div> -->
            <div class="col-md-7 status-detail">
                <div class="row">
                    <div class="col-6 col-md-4 status-times">
                        <div th:if="${order.canceledDate}" >
                            <p th:text="${order.canceledDate}"></p>
                        </div>

                        <div th:if="${order.receivedDate}">
                            <p  th:text="${order.receivedDate}"></p>
                        </div>

                        <div th:if="${order.deliveredDate}">
                            <p th:text="${order.deliveredDate}"></p>
                        </div>

                        <div th:if="${order.confirmedDate}" >
                            <p th:text="${order.confirmedDate}"></p>
                        </div>

                        <div th:if="${order.orderedDate}">
                            <p th:text="${order.orderedDate}"></p>
                        </div>
                    </div>
                    <div class="col-6 col-md-8 status-titles">
                        <div th:if="${order.canceledDate}">
                            <i class='bx bx-x'></i>
                            <p>Canceled Date</p>
                        </div>

                        <div th:if="${order.receivedDate}">
                            <i class='bx bx-check'></i>
                            <p>Received Date</p>
                        </div>

                        <div th:if="${order.deliveredDate}">
                            <i class='bx bxs-truck'></i>
                            <p >Delivering Date</p>
                        </div>

                        <div th:if="${order.confirmedDate}">
                            <i class='bx bx-package'></i>
                            <p >Confirmed Date</p>
                        </div>

                        <div th:if="${order.orderedDate}">
                            <i class='bx bx-time-five'></i>
                            <p >Ordered Date</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Products -->
        <div class="row">
            <h5>Products</h5>
            <section class="shop-product-info" th:if="${userCarts}" th:each="seller : ${userCarts}">
                <div class="shop">
                    <div class="shop-info">
                        <a th:href="@{/shop(id=${seller.user.id})}" class="seller-name" th:text="${seller.user.fullName}"></a>
                    </div>
                </div>
                <section class="product" th:if="${seller.cartTemps}" th:each="item : ${seller.cartTemps}">
                    <div class="row">
                        <div class="col-md-1">
                            <div ><img width="60px" height="60px" class="product-order-img" th:data-product-id="${item.product.id}" th:data-file-name="${item.product.productImg}" alt="Product Image"></div>
                        </div>
                        <div class="col-md-9">
                            <div th:text="${item.product.name}"></div>
                            <div class="">
                                <div style="color: orangered;" th:text="'&#36;' +${item.product.price}"></div>
                            </div>
                            <div class="">
                                <div th:text="'x' +${item.quantity}">x19</div>
                            </div>
                        </div>
                        <div class="col-md-2 product-total">
                            <div style="color: orangered;" th:text="'&#36;' +${item.product.price * item.quantity}"></div>
                        </div>
                    </div>
                </section>
            </section>
        </div>

        <!-- Payment -->
        <div class="row">
            <h5>Payment Information</h5>
            <section class="payment-info">
                <div class="row">
                    <div class="col-6 col-md-2 payment-title">
                        <div>Total items: </div>
                        <div>Shipping fee: </div>
                        <div>Voucher: </div>
                        <div>Payment method: </div>
                        <div style="color: orangered; font-size: 20px; font-weight: 400;">Total amount: </div>
                    </div>
                    <div class="col-6 col-md-2 payment-value">
                        <div class="total-item" th:text="'$' +${productTotal}">$11000</div>
                        <div class="shipping-fee">$60</div>
                        <div class="voucher" th:text="'-$' +${priceIsReduced}"></div>
                        <div class="payment-method" th:text="${order.paymentMethod.name}"></div>
                        <div style="color: orangered; font-size: 20px; font-weight: 400;" id="payment-total" class="payment-total" th:text="'$' + ${productTotal - priceIsReduced}"></div>
                    </div>
                </div>
                <div class="row" sec:authorize="hasRole('CUSTOMER')">
                    <div class="payment-btn">
                        <div class="btn-cancel" th:if="${order.confirmedDate == null and order.receivedDate == null and order.deliveredDate == null and order.canceledDate == null}">
                            <a href="#">
                                <button type="button">
                                    Cancel
                                </button>
                            </a>
                        </div>
                        <div class="btn-chat" th:if="${order.receivedDate}">
                            <a href="#">
                                <button>
                                    Return and Refunds
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>

<!--Image (Product and Avatar)-->
<script src="/js/getErrorImage.js"></script>
<script src="/js/fetchImageToView.js"></script>
<!--Header and Navbar-->
<script src="/js/searchAnimation.js"></script>
<script src="/js/fetchCategoryInNavbar.js"></script>
<script src="/js/scrollHeader.js"></script>
<script src="/js/showMenu.js"></script>
<script src="/js/submenu.js"></script>

</body>

</html>