<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Cart</title>
<!--    <link rel="stylesheet" href="Cart.css">-->
    <link rel="stylesheet" th:href="@{/css/shoppingCart.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <!-- Icons link -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
<footer th:replace="fragments/header :: header"></footer>

<main>
    <div class="container">
        <h1>Shopping Cart</h1>

        <!-- Title -->
        <div class="row">
            <div class="border-title">
                <div class="col-6 col-md-1">
                    <!-- <div><input type="checkbox" name="" id=""></div> -->
                </div>

                <div class="col-6 col-md-5">
                    <div class="title-product">Products</div>
                </div>

                <div class="col-6 col-md-2">
                    <div class="title-price">Prices</div>
                </div>

                <div class="col-6 col-md-2">
                    <div class="title-quantity">Quantities</div>
                </div>

                <div class="col-6 col-md-1">
                    <div class="title-total">Totals</div>
                </div>

                <div class="col-6 col-md-1">
                    <div class="title-action">Actions</div>
                </div>
            </div>
        </div>

        <!-- product -->
        <div id="cartBody" class="cartBody" th:fragment="cartBodyFrag">
            <div class="row"  th:if="${cartItems}" th:each="cart : ${cartItems}">
                <section>
                    <div class="shop">
                        <div class="shop-info">
                            <div class="shop-checkbox">
                                <label class="stardust-checkbox">
                                    <input type="checkbox" class="stardust-checkbox-input" name="">
                                </label>
                            </div>
    <!--                        <a href="" class="shop-name" th:text="${cart.product.user.fullName}">Huynh Phuc Store</a>-->
                        </div>
                    </div>
                    <section class="product">
                        <div class="row">
                            <div class="col-2 col-md-1">
                                <div class="product-checkbox">
                                    <label class="stardust-checkbox">
                                        <input type="checkbox" class="stardust-checkbox-input" name="">
                                    </label>
                                </div>
                            </div>
                            <div class="col-4 col-md-1">
                                <div class="product-img">
                                    <img class="product-cart-image" th:data-product-id="${cart.product.id}" th:data-file-name="${cart.product.productImg}" alt="Product Image">
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="product-name" th:text="${cart.product.name}">Product name</div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="product-price" th:text="'&#36;' +${cart.product.price}">10000</div>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="product-quantity">
                                    <input type="number" th:value="${cart.quantity}" min="1" class="quantity-input">
                                </div>
                            </div>
                            <div class="col-12 col-md-1">
                                <div class="product-total">20</div>
                            </div>
                            <div class="col-12 col-md-1">
                                <div class="product-action"> <a href="javascript:void(0);" th:onclick="|deleteProductFromCart(${cart.product.id});|" ><i class='bx bx-trash'></i></a></div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>


        <!-- Checkout -->
        <div class="row">
            <div class="border-checkout">
                <div class="col-1 col-md-1">
                    <!-- <div><input type="checkbox" name="" id=""></div> -->
                </div>

                <div class="col-3 col-md-2">
                    <div class="checkout-checkbox">
                        <label class="stardust-checkbox">
                            <input type="checkbox" class="stardust-checkbox-input" name="" id="">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="title-select">Select Alls</div>
                </div>

                <div class=" col-md-2">
                    <div class="btn-remove"><a href="">Remove</a></div>
                </div>

                <div class=" col-md-2">
                    <div class="checkout-quantity">Quantity of products: </div>
                </div>

                <div class=" col-md-1">
                    <div id="totalProduct" class="number-of-product" th:text="${totalNumberOfProduct}">19</div>
                </div>

                <div class="col-1 col-md-1">
                    <div class="checkout-total">Totals:</div>
                </div>

                <div class="col-4 col-md-2">
                    <div id="totalMoney" class="number-of-money" th:text="'&#36;' +${total}">1000000</div>
                </div>

                <div class="col-1 col-md-1">
                    <div class="btn-purchase"><a href="#">Purchase</a></div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<!--Manage cart-->
<script src="/js/fetchManageCart.js"></script>
<!--Image (Product and Avatar)-->
<script src="/js/getErrorImage.js"></script>
<script src="/js/fetchImageToView.js"></script>
<!--Header and Navbar-->
<script src="/js/fetchCategoryInNavbar.js"></script>
<script src="/js/scrollHeader.js"></script>
<script src="/js/showMenu.js"></script>
<script src="/js/submenu.js"></script>
<script src="/js/getCsrfToken.js"></script>

</body>

</html>