<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.85">
    <title>Sherlock Store | Change password</title>
    <link rel="icon" th:href="@{/images/SherlockBackgroundLogoBigSize.png}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/css/changePassword.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/fetchRegister.js}"></script>
</head>


<body class="bg-dark text-white">

<div class="container left-panel-active" id="container">

    <div class="form-container forgot-password-container">
        <form action="#" method="post">
            <h1>Change Password</h1>

            <div class="password-container">
<!--                   Sử dụng 'name="newPassword" ' để qua controller lấy value bằng cách "@RequestParam("newPassword")-->
                <input type="password" name="newPassword" id="new-password" placeholder="New password">
                <button type="button" id="toggleNewPassword" class="toggle-password">
                    <i class="fa-regular fa-eye" id="eye-icon-newPassword"></i>
                </button>
            </div>

            <div class="password-container">
                <input type="password" id="confirm-password" placeholder="Confirm password">
                <button type="button" id="toggleConfirmPassword" class="toggle-password">
                    <i class="fa-regular fa-eye" id="eye-icon-confirmPassword"></i>
                </button>
            </div>

            <button class="button-action" type="submit" id="btn-change-password" onclick="saveChangePassword(event)">Change password</button>

            <div>
                <p id="change-password-message" class="message"></p>
            </div>

            <a th:href="@{/login}" class="ghost" id="return-login">Return login</a>
        </form>
    </div>

</div>

<script>
    const newPassword = document.getElementById('new-password');
    const confirmPassword = document.getElementById('confirm-password');
    const messageElement = document.getElementById('change-password-message');

    confirmPassword.addEventListener('input', function (){
        if (confirmPassword.value != newPassword.value){
            messageElement.textContent = 'Confirm password does not match!!!';
            messageElement.style.color = 'red';
        }else {
            messageElement.textContent = '';
        }
    });
</script>

<script>
    const toggleNewPassword = document.getElementById('toggleNewPassword');
    const newPasswordInput = document.getElementById('new-password');
    const eyeIconNewPassword = document.getElementById('eye-icon-newPassword');
    const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');

    const confirmPasswordInput = document.getElementById('confirm-password');
    const eyeIconConfirmPassword = document.getElementById('eye-icon-confirmPassword');

    toggleNewPassword.addEventListener('click', () => {
        // Toggle the type attribute
        const type = newPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        newPasswordInput.setAttribute('type', type);

        // Toggle the eye icon
        eyeIconNewPassword.classList.toggle('fa-eye');          // Chuyển sang icon mắt mở
        eyeIconNewPassword.classList.toggle('fa-eye-slash');    // Chuyển sang icon mắt nhắm có dấu gạch xéo
    });

    toggleConfirmPassword.addEventListener('click', () => {
        // Toggle the type attribute
        const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        confirmPasswordInput.setAttribute('type', type);

        // Toggle the eye icon
        eyeIconConfirmPassword.classList.toggle('fa-eye');          // Chuyển sang icon mắt mở
        eyeIconConfirmPassword.classList.toggle('fa-eye-slash');    // Chuyển sang icon mắt nhắm có dấu gạch xéo
    });
</script>

<script src="/js/loginPageAction.js"></script>
</body>
</html>