<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/loginAndRegister.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/fetchRegister.js}"></script>
</head>


<body class="bg-dark text-white">

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#" method="post" >
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="#" class="social">
                    <i class="fa-brands fa-google-plus-g"></i>
                </a>

                <a href="#" class="social">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>

            <span>or use your email registration</span>
            <div>
                <input type="text" id="name"  placeholder="Full name">
            </div>
            <div>
                <input type="text" id="email"  placeholder="Email">
            </div>
            <div>
                <input type="password" id="password"  placeholder="Password">
            </div>

            <div>
                <select id="role">
<!--                    <option value="ROLE_ADMIN">Admin</option>-->
<!--                    <option value="ROLE_CUSTOMER">Customer</option>-->
<!--                    <option value="ROLE_SELLER">Seller</option>-->
                </select>
            </div>

            <div>
                <p id="register-message" class="message"></p>
            </div>

            <button id="btn-register" onclick="register(event)">Sign up</button>

        </form>

    </div>

    <!--                                  Login form -->
    <div class="form-container sign-in-container">
        <form action="#" th:action="@{/authenticateTheUser}" method="post">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="#" class="social">
                    <i class="fa-brands fa-google-plus-g"></i>
                </a>

                <a href="#" class="social">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </div>

            <span>or use your account</span>

            <input type="text" name="username" placeholder="Email">
            <input type="text" name="password" placeholder="Password">

            <div th:if="${param.error}">
                <span style="color: red">Email or password incorrect!!!</span>
            </div>


            <a href="#">Forgot your password? </a>

            <button>Sign in</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script>
    const byId = (id) =>{
        return document.getElementById(id)
    }

    const $signUpButton = byId('signUp');
    const $signInButton = byId('signIn');

    const $container = byId('container');


    $signUpButton.addEventListener(
        'click',
        ()=> {
            $container.classList.add('right-panel-active');
        },
    );

    $signInButton.addEventListener(
        'click',
        ()=> {
            $container.classList.remove('right-panel-active');
        },
    );
</script>
</body>
</html>